body {
    margin: 0;
}

#titel {
    font-size: 250%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    color: #eee;
}

h1,
h2 {
    text-align: center;
    font-size: 130%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    color: rgba(255, 255, 255, 0.7);
}

.Startseite {
    background-image: url(season-1985856_1920.jpg);
    background-size: cover;
    background-position: bottom center;
    width: 100%;
    height: 100vh;
}

#Kopfzeile {
    background-color: #354551;
    height: auto;
    padding: 10px;
}