
html {
    background-color: darkgray;
    height:100%;
    margin:0;
    padding:0;
}
body{
    margin: 0;
    padding:0;
    height:100%;
}
#titel {
    font-size: 250%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    color: antiquewhite;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    font-size: 19px
}

h1, h2 {
    text-align: center;
    font-size: 130%;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
    color: #CABEBF;

}

.Startseite {
    
    background-image: url(season-1985856_1920.jpg);
    background-size:cover;
    background-position: bottom center;
    width: 100%;
    height: 940px;
}

#Kopfzeile {
    
    background-color:#354551;
    height: auto;
    padding: 1px;
}

.container{
    text-align: center;
    background-color: #354551;
}

.list-inline{
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-size: 19px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-family: 'Poiret One', cursive;
}

li {
    float: left;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}



.Inhalt{
    margin:auto;
    margin-top: 40px;
    width: 70%;
    height: 100%;
    background-color:aliceblue;
    margin-bottom: 35px;
}

.Text{
    padding-top: 2px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
}